{
  "openapi": "3.1.0",
  "info": {
    "title": "PixelPay",
    "version": "1.0.0",
    "description": "PixelPay — AI image generation API monetized via MPP (Machine Payments Protocol). Pay-per-request with Tempo blockchain.",
    "x-guidance": "PixelPay generates images from text prompts. Send a POST to /v1/images/generate with a prompt. You will receive a 402 Payment Required with a challenge. Pay per model: Schnell $0.029, Dev $0.049, Recraft $0.059, HiDream $0.079, Ideogram $0.079, Pro $0.099, Nano Banana 2 $0.14 (premium), Nano Banana Pro $0.19 (premium) USDC via Tempo blockchain, then retry with the payment credential to receive your generated image. Premium models require wallet payment. Check GET /v1/prices for current pricing."
  },
  "x-discovery": {
    "ownershipProofs": ["dns:pixelpayapi.com"]
  },
  "x-service-info": {
    "categories": ["media", "compute"],
    "docs": {
      "homepage": "https://pixelpayapi.com",
      "llms": "https://pixelpayapi.com/llms.txt",
      "apiReference": "https://pixelpayapi.com/openapi.json"
    }
  },
  "servers": [
    {
      "url": "https://pixelpayapi.com"
    }
  ],
  "paths": {
    "/v1/images/generate": {
      "post": {
        "operationId": "generateImage",
        "summary": "Generate an image from a text prompt",
        "description": "PixelPay generates images from text prompts using fal.ai models. 8 models available: Schnell $0.029, Dev $0.049, Recraft $0.059, HiDream $0.079, Ideogram $0.079, Pro $0.099, Nano Banana 2 $0.14 (premium), Nano Banana Pro $0.19 (premium) USDC via MPP Tempo charge.",
        "x-payment-info": {
          "protocols": ["mpp"],
          "pricingMode": "tiered",
          "priceRange": { "min": "0.029000", "max": "0.190000" },
          "tiers": [
            { "model": "fal-ai/flux/schnell", "tier": "schnell", "price": "0.029000" },
            { "model": "fal-ai/flux/dev", "tier": "dev", "price": "0.049000" },
            { "model": "fal-ai/recraft-v3", "tier": "recraft", "price": "0.059000" },
            { "model": "fal-ai/hidream-i1-full", "tier": "hidream", "price": "0.079000" },
            { "model": "fal-ai/ideogram/v3", "tier": "ideogram", "price": "0.079000" },
            { "model": "fal-ai/flux-pro/v1.1", "tier": "pro", "price": "0.099000" },
            { "model": "fal-ai/nano-banana-2", "tier": "premium", "price": "0.140000", "premium": true },
            { "model": "fal-ai/nano-banana-pro", "tier": "premium", "price": "0.190000", "premium": true }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Text prompt describing the image to generate",
                    "example": "A serene mountain landscape at sunset with a lake reflection"
                  },
                  "model": {
                    "type": "string",
                    "description": "Model identifier. Pricing varies by model: fal-ai/flux/schnell ($0.029), fal-ai/flux/dev ($0.049), fal-ai/recraft-v3 ($0.059), fal-ai/hidream-i1-full ($0.079), fal-ai/ideogram/v3 ($0.079), fal-ai/flux-pro/v1.1 ($0.099), fal-ai/nano-banana-2 ($0.14, premium), fal-ai/nano-banana-pro ($0.19, premium)",
                    "default": "fal-ai/flux/schnell",
                    "enum": ["fal-ai/flux/schnell", "fal-ai/flux/dev", "fal-ai/recraft-v3", "fal-ai/hidream-i1-full", "fal-ai/ideogram/v3", "fal-ai/flux-pro/v1.1", "fal-ai/nano-banana-2", "fal-ai/nano-banana-pro"]
                  },
                  "image_size": {
                    "type": "string",
                    "description": "Output image size",
                    "default": "landscape_4_3",
                    "enum": ["square_hd", "square", "landscape_4_3", "landscape_16_9", "portrait_4_3", "portrait_16_9", "portrait_9_16", "widescreen_21_9"]
                  },
                  "num_images": {
                    "type": "integer",
                    "description": "Number of images to generate (1-4)",
                    "default": 1,
                    "minimum": 1,
                    "maximum": 4
                  },
                  "image_urls": {
                    "oneOf": [
                      { "type": "string", "format": "uri", "description": "Single reference image URL or base64 data URL" },
                      { "type": "array", "items": { "type": "string" }, "description": "Array of reference image URLs or base64 data URLs" }
                    ],
                    "description": "Reference image(s) for image-to-image generation. Support varies by model: Nano Banana 2/Pro up to 14 images, Recraft V3/FLUX Dev support 1 image, Schnell/HiDream/Ideogram/Pro are text-only (no reference images)."
                  },
                  "style": {
                    "type": "string",
                    "description": "Style preset to apply. Appends style-specific keywords to prompt automatically.",
                    "enum": ["anime", "cinematic", "vintage", "noir", "cyberpunk", "watercolor", "oil-painting", "pixel-art", "minimalist", "pop-art"]
                  },
                  "enhance": {
                    "type": "boolean",
                    "description": "If true, automatically enhance the prompt with quality keywords for better results.",
                    "default": false
                  },
                  "negative_prompt": {
                    "type": "string",
                    "description": "Things to avoid in the generated image (e.g. 'blur, watermark, low quality, deformed')."
                  },
                  "seed": {
                    "type": "integer",
                    "description": "Random seed for reproducible results. Omit for random. Returned in response for reuse.",
                    "minimum": 0,
                    "maximum": 2147483647
                  },
                  "private": {
                    "type": "boolean",
                    "description": "If true, the generated image will not appear in the public gallery.",
                    "default": false
                  }
                },
                "required": ["prompt"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generated successfully",
            "headers": {
              "Payment-Receipt": {
                "description": "Base64url-encoded payment receipt",
                "schema": { "type": "string" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": { "type": "string", "format": "uri" },
                          "width": { "type": "integer" },
                          "height": { "type": "integer" },
                          "content_type": { "type": "string" }
                        }
                      }
                    },
                    "prompt": { "type": "string" },
                    "model": { "type": "string" },
                    "seed": { "type": "integer", "description": "Seed used for generation. Reuse for identical results." },
                    "timings": { "type": "object" }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required – respond with Authorization: Payment credential",
            "headers": {
              "WWW-Authenticate": {
                "description": "MPP payment challenge",
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    }
  }
}
