{
  "openapi": "3.1.0",
  "info": {
    "title": "PixelPay",
    "version": "2.0.0",
    "description": "PixelPay — AI image & video generation API monetized via MPP + x402 dual protocol. Pay-per-request with USDC on Tempo or Base.",
    "x-guidance": "PixelPay generates images, edits, transforms, and videos from text prompts. Send a POST to /v1/images/generate with a prompt. You will receive a 402 Payment Required with a challenge. Pay per model: Schnell $0.004, Grok $0.024, Dev $0.030, Kontext $0.047, Recraft $0.047, GPT-Image $0.047, HiDream $0.059, Edit $0.059, Nano Banana 2 $0.059, Pro $0.065, Ideogram $0.094, Nano Banana Pro $0.118, Video $0.295 USDC via Tempo blockchain, then retry with the payment credential. Check GET /v1/prices for current pricing. All prices are near-cost (18% margin) — lower than most alternatives."
  },
  "x-discovery": {
    "serviceId": "7b1a3b88-18c6-4a54-805f-3b4340c74595",
    "ownershipProofs": [
      "dns-txt:_mpp.pixelpayapi.com",
      "dns-txt:_mpp-ownership.pixelpayapi.com",
      "dns-txt:pixelpayapi.com"
    ]
  },
  "x-service-info": {
    "categories": ["media", "compute"],
    "docs": {
      "homepage": "https://pixelpayapi.com",
      "llms": "https://pixelpayapi.com/llms.txt",
      "apiReference": "https://pixelpayapi.com/openapi.json"
    }
  },
  "servers": [
    {
      "url": "https://pixelpayapi.com"
    }
  ],
  "paths": {
    "/v1/images/generate": {
      "post": {
        "operationId": "generateImage",
        "summary": "Generate an image from a text prompt",
        "description": "Generate images using 10 models at near-cost pricing (~18% margin): Schnell $0.004, Grok $0.024, Dev $0.030, Kontext $0.047, Recraft $0.047, GPT-Image $0.047, HiDream $0.059, Nano Banana 2 $0.059, Pro $0.065, Ideogram $0.094, Nano Banana Pro $0.118 USDC via MPP or x402.",
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.004000",
            "max": "0.118000"
          },
          "protocols": [
            { "mpp": { "method": "tempo", "intent": "charge", "currency": "0x20c000000000000000000000b9537d11c60e8b50" } },
            { "x402": { "version": 2, "network": "eip155:8453", "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913", "facilitator": "https://x402.org/facilitator" } }
          ],
          "minPrice": "0.004000",
          "maxPrice": "0.118000",
          "tiers": [
            { "model": "fal-ai/flux/schnell", "tier": "schnell", "price": "0.004000" },
            { "model": "xai/grok-imagine-image", "tier": "grok", "price": "0.024000" },
            { "model": "fal-ai/flux/dev", "tier": "dev", "price": "0.030000" },
            { "model": "fal-ai/flux-kontext/text-to-image", "tier": "transform", "price": "0.047000" },
            { "model": "fal-ai/recraft-v3", "tier": "recraft", "price": "0.047000" },
            { "model": "fal-ai/gpt-image-1/text-to-image", "tier": "gpt-image", "price": "0.047000" },
            { "model": "fal-ai/hidream-i1-full", "tier": "hidream", "price": "0.059000" },
            { "model": "fal-ai/nano-banana-2", "tier": "premium", "price": "0.059000" },
            { "model": "fal-ai/flux-pro/v1.1", "tier": "pro", "price": "0.065000" },
            { "model": "fal-ai/ideogram/v3", "tier": "ideogram", "price": "0.094000" },
            { "model": "fal-ai/nano-banana-pro", "tier": "premium", "price": "0.118000" }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Text prompt describing the image to generate"
                  },
                  "model": {
                    "type": "string",
                    "description": "Model identifier. Use 'auto' for smart selection.",
                    "default": "fal-ai/flux/schnell",
                    "enum": ["auto", "fal-ai/flux/schnell", "fal-ai/flux/dev", "fal-ai/recraft-v3", "fal-ai/hidream-i1-full", "fal-ai/ideogram/v3", "fal-ai/gpt-image-1/text-to-image", "xai/grok-imagine-image", "fal-ai/flux-pro/v1.1", "fal-ai/nano-banana-2", "fal-ai/nano-banana-pro"]
                  },
                  "image_size": { "type": "string", "default": "landscape_4_3" },
                  "num_images": { "type": "integer", "default": 1, "minimum": 1, "maximum": 4 },
                  "style": { "type": "string", "enum": ["anime", "cinematic", "vintage", "noir", "cyberpunk", "watercolor", "oil-painting", "pixel-art", "minimalist", "pop-art"] },
                  "enhance": { "type": "boolean", "default": false },
                  "negative_prompt": { "type": "string" },
                  "seed": { "type": "integer" },
                  "private": { "type": "boolean", "default": true }
                },
                "required": ["prompt"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Image generated successfully" },
          "402": { "description": "Payment Required" }
        }
      }
    },
    "/v1/images/edit": {
      "post": {
        "operationId": "editImage",
        "summary": "Edit an image via inpainting/outpainting",
        "description": "Uses FLUX Fill for inpainting/outpainting. Requires image_url. Optional mask_url for targeted edits. $0.059 USDC.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.059000"
          },
          "protocols": [
            { "mpp": { "method": "tempo", "intent": "charge", "currency": "0x20c000000000000000000000b9537d11c60e8b50" } },
            { "x402": { "version": 2, "network": "eip155:8453", "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913", "facilitator": "https://x402.org/facilitator" } }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": { "type": "string", "description": "Edit instruction" },
                  "image_url": { "type": "string", "description": "Source image URL" },
                  "mask_url": { "type": "string", "description": "Optional mask for targeted edit" },
                  "image_size": { "type": "string", "default": "landscape_4_3" }
                },
                "required": ["prompt", "image_url"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Edited image returned" },
          "402": { "description": "Payment Required" }
        }
      }
    },
    "/v1/images/transform": {
      "post": {
        "operationId": "transformImage",
        "summary": "Transform/remix an image with style transfer",
        "description": "Uses FLUX Kontext for style remix. Provide a prompt and optional reference image. $0.047 USDC.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.047000"
          },
          "protocols": [
            { "mpp": { "method": "tempo", "intent": "charge", "currency": "0x20c000000000000000000000b9537d11c60e8b50" } },
            { "x402": { "version": 2, "network": "eip155:8453", "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913", "facilitator": "https://x402.org/facilitator" } }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": { "type": "string" },
                  "image_url": { "type": "string", "description": "Reference image to transform" },
                  "image_size": { "type": "string", "default": "landscape_4_3" },
                  "num_images": { "type": "integer", "default": 1 }
                },
                "required": ["prompt"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Transformed image returned" },
          "402": { "description": "Payment Required" }
        }
      }
    },
    "/v1/videos/generate": {
      "post": {
        "operationId": "generateVideo",
        "summary": "Generate a 5-second video from a text prompt",
        "description": "Uses Seedance Fast for video generation. Optional image_url as starting frame. $0.295 USDC.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.295000"
          },
          "protocols": [
            { "mpp": { "method": "tempo", "intent": "charge", "currency": "0x20c000000000000000000000b9537d11c60e8b50" } },
            { "x402": { "version": 2, "network": "eip155:8453", "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913", "facilitator": "https://x402.org/facilitator" } }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": { "type": "string", "description": "Motion/scene description" },
                  "image_url": { "type": "string", "description": "Optional starting frame image" },
                  "seed": { "type": "integer" }
                },
                "required": ["prompt"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Video generated", "content": { "application/json": { "schema": { "type": "object", "properties": { "video": { "type": "object", "properties": { "url": { "type": "string" } } } } } } } },
          "402": { "description": "Payment Required" }
        }
      }
    }
  }
}
